{% for clip in clips %}
<div class="col col-lg-2">
	<div class="block-image">
		<div class="bg-hover">
			<div class="b-vote vote-this" data-id="{{ clip.nid }}">
				{% if clip.exist_vote > 0 %}
				<i class="fa fa-heart green-heart"></i>
				{% else %}
				<div class="heart"></div>
				<p>{{ 'Je vote +1'|t }}</p>
				{% endif %}
			</div>
			<div class="op-bg"></div>
		</div>
		{% if clip.image is not null %}
		<img src="{{ clip.image }}" />
		{% else %}
		{% set link_youtube = clip.embed_code|split('/') %}
		<img src="//img.youtube.com/vi/{{ link_youtube[3] }}/mqdefault.jpg">
		{% endif %}
	</div>
	<div class="classement-content">
		<div class="flow-nbr-classement abs-pos-full">
			{% if clip.position|length > 1 %}
			{{ clip.position }}
			{% else %}
			{{ '0' ~ clip.position }}
			{% endif %}
		</div>
		<b class="progression zindex-10">{{ clip.progression|raw }}</b>
		<h6 class="clip-name zindex-10">{{ clip.title }}</h6>
		<b class="artiste-name zindex-10">{{ clip.artiste }}</b>
	</div>
</div>
{% endfor %}